@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 56 50% 77%;
    --foreground: 0 0% 8%;

    --primary: 0 0% 93%;
    --primary-foreground: 0 0% 8%;

    --secondary: 0 65% 79%;
    --secondary-foreground: 0 0% 95%;

    --muted: 0 0% 65%;
    --muted-foreground: 0 0% 95%;

    --accent: 0 0% 65%;
    --accent-foreground: 0 0% 95%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --card: 0 0% 93%;
    --card-foreground: 0 0% 8%;

    --popover: 0 0% 93%;
    --popover-foreground: 0 0% 8%;

    --border: 0 0% 65%;
    --input: 0 0% 65%;
    --ring: 0 0% 8%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply flex min-h-screen flex-col bg-background font-sans text-foreground antialiased;
  }
}
